@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin: 1;
  padding: 1;
}

html, body {
  overscroll-behavior-y: none;
}

.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.55rem;
  font-family: "Shadows Into Light", sans-serif;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 10px;
}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 3rem;
  width: 52px;
  height: 52px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  border: none;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.85rem;
  height: 100%;
  color: #ffffff;
  font: 1.45rem "Shadows Into Light", sans-serif;
}

.nav-links:hover {
  transform: scale(1.04);
  transition: all 0.07s ease;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 52px;
    left: -100%;
    opacity: 1;
    transition: all 0.4s ease;
  }

  .nav-menu.active {
    background: #00011b;
    left: 0;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 999;
  }

  .nav-links {
    display: block;
    text-align: center;
    padding: 4px;
    width: 94%;
    display: table;
  }

  .nav-links:hover {
    transform: scale(1.04);
    transition: all 0.07s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: relative;
    top: -32px;
    right: 7px;
    transform: translate(-100%, 60%);
    font-size: 2rem;
    cursor: pointer;
  }
}